body {
    color: rgb(235, 235, 235);
}

button {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

button {
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 30px;
    outline: none;
    cursor: pointer;
    border: 0.01px solid rgb(56, 56, 56);
}

.calculator {
    font-family: "Roboto", sans-serif;
    max-width: 400px;
    margin: 30px auto;
    height: 518px;
}

.screen {
    border-radius: 15px 15px 0 0;
    background-color: rgb(56, 56, 56);
    padding: 40px 20px 10px 20px;
    font-size: 50px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons-grid {
    /* border-radius: 0 0 15px 15px; */
    display: grid;
    grid-template-rows: 82px 82px 82px 82px 82px;
    grid-template-columns: 100px 100px 100px 100px;
}

.big-key {
    background-color: rgb(75, 75, 75);
}

.ope-key {
    background-color: rgb(242, 163, 60);
}

#equal, .num-key {
    background-color: rgb(105, 105, 105);
}

